/* body { */
/* background: darkcyan; */
/*background-image: url();
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;*/
/* } */

body {
  color: #787878 !important;
  background-color: #ffeeee;
  padding-top: 50px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.App .login-form {
  width: 40%;
  padding-bottom: 5%;
}

.App .login {
  padding-bottom: 5%;
}

.my-container {
  /* box-shadow: -1px 0px 8px 8px rgba(222, 213, 213, 0.74);
  -webkit-box-shadow: -1px 0px 8px 8px rgba(222, 213, 213, 0.74);
  -moz-box-shadow: -1px 0px 8px 8px rgba(222, 213, 213, 0.74); */
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #dedede;
  max-width: 400px;
}
.btn,
.form-control {
  border-radius: 2px !important;
}
@media (max-width: 400px) {
  .my-container {
    max-width: 100%;
    border: none;
    padding: 0;
  }
}
.bold {
  font-weight: 900;
}
.pink {
  background-color: #ffc0cb;
  color: black;
}

.pink:hover {
  background-color: #ffb0bb;
  color: black;
}
.footer {
  color: wheat;
}
.text-center {
  text-align: center !important;
}
.mg-custom {
  min-height: 200px;
}
.img-container {
  height: 200px !important;
  overflow: hidden;
}
